@import 'tailwindcss';

* { box-sizing: border-box; }
html { scroll-behavior: smooth; }
body { margin: 0; font-family: 'Nevera', Arial, Helvetica, sans-serif; background: #fcfaff; }
button, a { -webkit-tap-highlight-color: transparent; }
